
/* Add Border Box to all elements */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
  } */

:root {
    --header-bg-color-black: rgb(46, 49, 54);
    --header-bg-color-faded-grey: #3f3f3fd3; 
    --font-family-raleway: 'Ribeye Marrow', cursive; 
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-dm-sans: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
}

.site-container {
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    padding: 1em 2em;
    background: #d9e7ff;
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* Alternate nav */
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
    border-color: whitesmoke;
    border-width: 0.125em;
    border-bottom-style: dashed;
    /* border-bottom-left-radius: 4em; */
    /* border-bottom-right-radius: 4em; */
}

/* Review understanding of this setup (margin-right: auto) in a flex container */
#home {
    margin-right: auto;
    color: rgb(101, 101, 230);
}

nav a {
    text-decoration: none;
    color: #75af25;
    font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.25em;
    font-family: 'Ribeye Marrow', cursive;
    margin: 0 1.5em;
    /* border-width: 0.125em; */
    /* border-style: dashed; */
    /* border-color: rgb(101, 101, 230); */
}

nav a:nth-child(1):hover {
    background-color: inherit;
}

nav a:hover {
    background-color: #679b1f;
    color: whitesmoke;
    /* border-color: whitesmoke; */
    /* border-width: 0.125em; */
    /* border-style: dashed; */
    /* border-color: whitesmoke; */
}

ul {
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.no-list-style {
    list-style: none;
}

nav ul.nav-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
}

nav ul.nav-menu a {
    text-decoration: none;
    color: #75af25;
    font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.25em;
    /* font-family: 'Rampart One', cursive; */
    /* font-family: 'Vibes', cursive; */
    font-family: 'Ribeye Marrow', cursive;
    /* font-family: 'Sofadi One', cursive; */
    /* font-family: 'Macondo', cursive; */
    /* background-color: #75af25; */
    /* color: whitesmoke; */
}

nav ul.nav-menu a:hover {
    /* background-color: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    background-color: #679b1f;
    color: whitesmoke;
}

header {
    display: flex;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    background: radial-gradient(10em, #e3ffe7 0%, #d9e7ff 100%);
    justify-content: center;
}

header h1 {
    /* font-family: 'Vibes', cursive; */
    /* font-family: 'Rampart One', cursive; */
    font-family: 'Ribeye Marrow', cursive;
    /* font-family: 'Sofadi One', cursive; */
    /* font-family: 'Macondo', cursive; */
    font-size: 3em;
    padding: 0.5em;
    margin: 0;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
}

main section .fantastic-playroom {
    margin: 1em 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.hero-img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-img img {
    width: inherit;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em 5em;
    justify-items: center;
}

main section h2 {
    font-size: 4em;
}

main section:first-of-type p {
    margin-top: 0.25em;
}

main section p, ul {
    font-size: 1.25em;
    max-width: 80ch;
}

address {
    font-weight: bold;
    margin: 0.5em;
    padding: 0;
    /* justify-self: flex-start; */
}

main section h3 {
    font-size: 2em;
}

main section .bold-paragraph {
    font-weight: bold;
}

main section ul li {
    margin: 0.5em;
}

.fantastic-playroom {
    display: flex;
    justify-content: center;
}

.fantastic-playroom img {
    width: 80%;
    border-radius: 3em;
}

.ece-curriculum {
    display: flex;
    justify-content: center;
}

.ece-curriculum img {
    width: 50%;
    border-radius: 3em;
}

/* .fantastic-playroom {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
} */

/* .fantastic-playroom img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3em;    
} */

.youtube {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    z-index: 0;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    gap: 1em;
    padding: 1em 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* grid-template-columns: 1fr 3fr 3fr 3fr; */
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, whitesmoke 0%, #d9e7ff 100%);
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* background-color: #d9e7ff; */
    /* justify-content: space-between;     */
}

blockquote {
    margin: 0;
}

#einstein, #gerber {
    display: flex;
    flex-wrap: wrap;
    font-family: 'DM Sans', sans-serif;
    min-width: 25ch;
    width: 100%;
    /* max-width: 30ch; */
    background-color: whitesmoke;
    padding: 2.5em;
    border-color: #d9e7ff;
    border-width: 0.25em;
    /* border-style: dotted; */
    border-style: dashed;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    justify-content: flex-start;
}

#rainbow {
    width: 100%;
    padding: 0.25em;
    display: flex;
    justify-content: center;
}

#rainbow img {
    width: 87%;
    /* border-radius: 7em; */
    /* border-color: #d9e7ff; */
    border-color: whitesmoke;
    border-width: 0.25em;
    border-style: dashed;
    border-top-left-radius: 4em;
    /* border-bottom-left-radius: 4em; */
    border-bottom-right-radius: 4em;
}

#giraffe {
    width: 100%;
    padding: 0.25em;
    display: flex;
    justify-content: center;
}

#giraffe img {
    width: 75%;
    /* border-radius: 7em; */
    /* border-color: #d9e7ff; */
    border-color: whitesmoke;
    border-width: 0.25em;
    border-style: dashed;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
}

/* Preview Posts */

.preview-posts .preview h2 {
    margin: 0.25em 0;
    text-align: center;
}

.preview-posts .preview a {
    text-decoration: none;
}

.preview-posts .preview figure {
    margin: 0;
    padding: 0;
}

.preview-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: var(--font-family-dm-sans);
    padding: 2em;
    gap: 1em;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-width: 0.25em;
    border-style: dashed;
    padding: 1em;
    justify-content: center;
}

.thumbnail-preview {
    width: inherit;
}

.thumbnail-preview a {
    text-decoration: none;
}

.thumbnail-preview img {
    width: 100%;
    border-color: whitesmoke;
    border-width: 0.25em;
    border-style: dashed;
    border-top-left-radius: 4em;
    /* border-bottom-left-radius: 4em; */
    border-bottom-right-radius: 4em;
}

.read-more {
    color: lightslategray;
    display: block;
}

/* End of Preview Posts */

footer {
    padding: 1em;
    /* background: #d9e7ff; */
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    flex-wrap: wrap;
}

footer h6 {
    padding: 1em;
    margin: 0.25em 0.5em;
}

#bow-valley-link, .outdoor-links a {
    text-decoration: none;
    color:rgb(101, 101, 230);
    font-family: 'DM Sans', sans-serif;
}

footer a {
    text-decoration: none;
    color: #75af25;
    font-family: 'Ribeye Marrow', cursive;
}

/* Media Queries */

@media (max-width: 1020px) {

    nav a:first-child {
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 950px) {

    .homepage {
        grid-template-columns: 1fr;
    }

    #rainbow img {
        width: 47%;
        /* border-radius: 7em; */
        border-top-left-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }

    #giraffe img {
        width: 35%;
        /* border-radius: 7em; */
        border-top-left-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }
}

@media (max-width: 750px) {

    #home {
        margin: 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
}

@media (max-width: 700px) {
    .preview-posts {
        display: grid;
        grid-template-columns: 1fr;
        font-family: var(--font-family-dm-sans);
        padding: 1em;
        gap: 0.5em;
    }
}

@media (max-width: 675px) {

    #home {
        margin: 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        /* position: static; */
    }

    #rainbow img {
        width: 67%;
        /* border-radius: 7em; */
        border-top-left-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }

    #giraffe img {
        width: 55%;
        /* border-radius: 7em; */
        border-top-left-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }
}

@media (max-width: 375px) {

    nav a:first-child {
        display: block;
    }

    nav a {
        display: none;
    }
}

/* @media (max-width: 730px) {
    nav ul.nav-menu {
        flex-direction: column;
        align-items: center;
    }

    nav ul.nav-menu a {
        width: 100%;
    }
} */
