
/* Add Border Box to all elements */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
  } */

/* :root {
    --header-bg-color-black: rgb(46, 49, 54);
    --header-bg-color-faded-grey: #3f3f3fd3; 
    --font-family-bubblegum: 'Bubblegum Sans', cursive;
    --font-family-corben: 'Corben', cursive;
    --font-family-limelight: 'Limelight', cursive;
    --font-family-raleway: 'Raleway', sans-serif; 
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-inconsolata: 'Inconsolata', sans-serif;
} */

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
}

nav {
    padding: 1em;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    /* Alternate nav */
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Review understanding of this setup (margin-right: auto) in a flex container */
#home {
    margin-right: auto;
    color: rgb(101, 101, 230);
}

nav a {
    text-decoration: none;
    color: #75af25;
    font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.25em;
    font-family: 'Ribeye Marrow', cursive;
    margin: 0 1.5em;
}

nav a:nth-child(1):hover {
    background-color: inherit;
}

nav a:hover {
    background-color: #679b1f;
    color: whitesmoke;
}

ul {
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

nav ul.nav-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
}

nav ul.nav-menu a {
    text-decoration: none;
    color: #75af25;
    font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.25em;
    /* font-family: 'Rampart One', cursive; */
    /* font-family: 'Vibes', cursive; */
    font-family: 'Ribeye Marrow', cursive;
    /* font-family: 'Sofadi One', cursive; */
    /* font-family: 'Macondo', cursive; */
    /* background-color: #75af25; */
    /* color: whitesmoke; */
}

nav ul.nav-menu a:hover {
    /* background-color: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    background-color: #679b1f;
    color: whitesmoke;
}

header {
    display: flex;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    background: radial-gradient(10em, #e3ffe7 0%, #d9e7ff 100%);
    justify-content: center;
}

header h1 {
    /* font-family: 'Vibes', cursive; */
    /* font-family: 'Rampart One', cursive; */
    font-family: 'Ribeye Marrow', cursive;
    /* font-family: 'Sofadi One', cursive; */
    /* font-family: 'Macondo', cursive; */
    font-size: 3em;
    padding: 0.5em;
    margin: 0;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
}

main section .fantastic-playroom {
    margin: 1em 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.hero-img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-img img {
    width: inherit;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em 2em;
    justify-items: center;
}

main section h2 {
    font-size: 4em;
}

main section:first-of-type p {
    margin-top: 0.25em;
}

main section p, ul {
    font-size: 1.25em;
    max-width: 80ch;
}

address {
    font-weight: bold;
    margin: 0.5em;
    padding: 0;
    /* justify-self: flex-start; */
}

main section h3 {
    font-size: 2em;
}

main section .bold-paragraph {
    font-weight: bold;
}

main section ul li {
    margin: 0.5em;
}

.fantastic-playroom {
    display: flex;
    justify-content: center;
}

.fantastic-playroom img {
    width: 80%;
    border-radius: 3em;
}

/* .fantastic-playroom {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
} */

/* .fantastic-playroom img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3em;    
} */

.youtube {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    z-index: 0;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    padding: 1em;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    flex-wrap: wrap;
}

footer h6 {
    padding: 1em;
    margin: 0.25em 0.5em;
}

#bow-valley-link, .outdoor-links a {
    text-decoration: none;
    color:rgb(101, 101, 230);
    font-family: 'DM Sans', sans-serif;
}

footer a {
    text-decoration: none;
    color: #75af25;
    font-family: 'Ribeye Marrow', cursive;
}

/* Media Queries */

@media (max-width: 1020px) {

    nav a:first-child {
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 630px) {

    #home {
        margin: 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
        position: static;
    }
}

/* @media (max-width: 730px) {
    nav ul.nav-menu {
        flex-direction: column;
        align-items: center;
    }

    nav ul.nav-menu a {
        width: 100%;
    }
} */
